ul.list {
  list-style: none;
  margin: 0;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid lighten($xpo-gray, 20%);
  font-size: 14px;
  li {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    a {
      color: $xpo-gray;
      &:hover {
        color: darken($xpo-gray, 20%);
      }
    }
  }
}

.list-title {
  color: $xpo-black;
  font-weight: bold;
}

.list-block {
  h2 { font-size: 14px; font-weight: bold; }
}
.phone-list {
  li.phone {
    height: 120px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    width: 45%;
    float: left;
    .views-field-field-image { float: left; margin-right: 10px; }
    .views-field-title { font-weight: bold; }
  }
}