.node-mobile {
  .field-name-field-image {
    float: left;
    margin-right: 20px;
  }
  .tabs {
    margin-top: 20px;
  }
  .tab-content {
    background: #fff;
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }
  .field-name-field-price-table table {
    @extend .table;
    margin-top: 20px;
    td, th { 
      padding: 8px; 
      border-bottom: 1px solid #ccc;
    }
    tr:hover {
      background: $xpo-white;
    }
  }
}

.view-id-carrier_info .views-field-field-logo { float: left; }

.view-id-taxonomy_term {
  .view-content {
    clear: both;
  }
}
